body {
	  background-image: url("https://qbasicjed.github.io/ResumeWebsite/background.png");
	 }
h1 {
	color: #BBE6FF;
	text-align: center;
	background-color: #00006F;
   }
h4 {
	color: #BBE6FF;
	text-align: center;
	background-color: #00006F;
   }
	
