body{
		background-image: url("background.png");
		
	}
main {
	  float: left;
	  width: 70%;
	 }
aside{
		float: right;
		width: 20%;
	 }
h1, h2, h3, h4, p{
				color: #BBE6FF;
				background-color: #00006F;
				border-width: 2px;
				border-color: #BBE6FF;
			  }
h1, h2{
		text-decoration: underline;
	  }

h3{
	text-indent: 30pt;
  }
h4{
	text-indent: 45pt;
  }
p{
	  padding-left: 55pt;
 }
mark{
	  color: #BBE6FF;
	  background-color: #00006F;
	}
button{
	width: 100%;
}
.collapsible{
				cursor: crosshair;
				padding: 0;
				margin: 0;
				text-align: left;
				border: none;
				outline: none;
				transition: 0.4s;
			}
.active, .collapsible:hover{
								background-color: yellowgreen;
								
						   }

.content{
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
}
/* .content{
	max-height: 10pt;
	overflow: hidden;

	-webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
} */

/* .content:hover{
	max-height: 1500pt;
} */
/* 
#content1.open{
	max-height: 1500pt;

	-webkit-transition: max-height 8s;
	-moz-transition: max-height 8s;
	transition: max-height 8s;
} */
.shrinkText{
			padding: 0px;
			margin:0px;
			background: none;
			text-align: center;
		   }
.description{
				clear: left;
			}
.detail_title{
				float: left;
			}
.year{
		float: right;
	 }
#asideHeader{
				text-align: center;
			}
#asideBody{
			
			text-align:left; 
		  }