body {
	  background-image: url("\background.png");
	 }
h1 {
	color: #BBE6FF;
	text-align: center;
	background-color: #00006F;
   }
h4 {
	color: #BBE6FF;
	text-align: center;
	background-color: #00006F;
   }
	
